.vida-base-form{
    padding: 25px 45px 50px 45px;
}

.base-form-title{
    font-size: 20px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #263238;
    margin-bottom: 40px;
}

.base-form-actions{
    margin-top: 25px;
    text-align: right;
}

.btn-salvar {
    margin-left: 25px;
}